@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  body {
    @apply flex min-h-screen flex-col items-center justify-center px-3 text-white;
  }
}

@layer components {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .input-anim {
    transition: border 0.3s;
  }

  .button-anim {
    transition: background 0.3s;
  }

  .loading-anim {
    @apply size-32 animate-[spin_2s_linear_infinite] rounded-full border-[16px] border-t-[16px] border-solid border-[#F3F3F3] border-t-color-primary;
  }

  .utilities-divider {
    @apply border-[1px] border-solid border-[#AAA]/25;
  }

  .utilities-link {
    @apply text-color-primary hover:text-color-primary/75;
  }

  .utilities-input {
    @apply input-anim rounded-[5px] border-[3px] border-solid border-white p-[10px] text-base leading-none text-color-text outline-none hover:border-color-secondary focus:border-color-primary;
  }

  .utilities-button {
    @apply button-anim cursor-pointer rounded-[5px] bg-color-secondary p-[13px] text-base leading-none text-color-text hover:bg-color-primary;
  }
}
